consul_enterprise_license = "LICENSE"
consul_fqdn               = "consul.example.com"
vault_address             = "https://vault.example.com:8200"
vault_ca_chain_pem        = <<-EOT
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
EOT
