{
  "snapshot_agent": {
    "snapshot": {
      "interval": "${consul_snapshot_interval}",
      "retain": ${consul_snapshot_retain}
    },
    "backup_destinations": {
      "aws_storage": [
        {
          "s3_bucket": "${consul_snapshot_bucket}",
          "s3_region": "${region}",
          "s3_key_prefix": "snapshots/"
        }
      ]
    }
  }
}
