# shellcheck shell=sh
# bootstrap.env
#
# A map of variables that come from the deployment process. Variables are
# populated by Terraform at deploy time or cloud-init at run-time (using
# Jinja templating).

readonly ACL_AGENT_TOKEN_SECRET_ARN="${acl_agent_token_secret_arn}"
readonly ACL_MANAGEMENT_TOKEN_SECRET_ARN="${acl_management_token_secret_arn}"
readonly ACL_SNAPSHOT_AGENT_TOKEN_SECRET_ARN="${acl_snapshot_agent_token_secret_arn}"
readonly AUTO_JOIN_TAG_KEY="${auto_join_tag_key}"
readonly AUTO_JOIN_TAG_VALUE="${auto_join_tag_value}"
readonly AVAILABILITY_ZONE="{{ v1.availability_zone }}"
readonly BOOTSTRAP_CONSUL_CLUSTER_STATE_SSM_PARAMETER_NAME="${bootstrap_consul_cluster_state_ssm_parameter_name}"
readonly BOOTSTRAP_CONSUL_PKI_CA_CHAIN_SSM_PARAMETER_NAME="${bootstrap_consul_pki_ca_chain_ssm_parameter_name}"
readonly BOOTSTRAP_INSTANCE_ID_SSM_PARAMETER_NAME="${bootstrap_instance_id_ssm_parameter_name}"
readonly CONSUL_AUDIT_LOG_EBS_ATTACHMENT_NAME="${consul_audit_log_ebs_attachment_name}"
readonly CONSUL_DATACENTER="${consul_datacenter}"
readonly CONSUL_FQDN="${consul_fqdn}"
readonly CONSUL_RAFT_DATA_EBS_ATTACHMENT_NAME="${consul_raft_data_ebs_attachment_name}"
readonly CONSUL_VERSION="${consul_version}"
readonly INSTANCE_ID="{{ v1.instance_id }}"
readonly LICENSE_SECRET_ARN="${license_secret_arn}"
readonly LOCAL_IPV4="{{ ds.meta_data.local_ipv4 }}"
readonly VAULT_AGENT_VERSION="${vault_agent_version}"
